In [1]:
########### IMPORTING THE REQURIED LIBRARIES ###########

from bs4 import BeautifulSoup as soup
import requests
from random import choice
from terminaltables import AsciiTable

In [2]:
WORLD_URL = "https://www.worldometers.info/coronavirus/#countries"
MAX_TIMEOUT = 3

In [3]:
######## DECLARING THE CLASS FOR SCRAPING SSLPROXIES.COM ########

class _proxy:

	PROXY_URL = 'https://sslproxies.org/'
	page = None

	def __init__( self ):
		self.page = soup( requests.get( self.PROXY_URL ).text, 'lxml' )
    
	def getSSLProxyDictionary( self ):
 
		return {
		'https': choice( list( map( lambda x:x[ 0 ] + ':' + x[ 1 ], list( zip( map( lambda x:x.text, self.page.find( 'table' ).findAll( 'td' )[ ::8 ] ), map( lambda x:x.text, self.page.find( 'table' ).findAll( 'td' )[ 1::8 ] ) ) ) ) ) )
		}

In [4]:
proxy = _proxy()

def _loadDataByIPRotaion( url ):
	count = 0
	response = None
    
	while count < 10:
		try:
			proxyDictionary = proxy.getSSLProxyDictionary()

			print( 'Retry {} Using Proxy : {}'.format( count, proxyDictionary ) )

			response = requests.get( url, proxies = proxyDictionary, timeout = MAX_TIMEOUT )
			break
		except:
			pass

		count=count+1

	return response

In [5]:
try:
    resp = requests.get( WORLD_URL, timeout = MAX_TIMEOUT )
    page = soup( resp.text, 'lxml' ) 
except:
    resp = _loadDataByIPRotaion( WORLD_URL )
    page = soup( resp.text, 'lxml' )

In [6]:
table = page.find( "table",{
   "id": "main_table_countries_today" 
} )

In [7]:
total_cases = page.findAll( "div", {
    "id": "maincounter-wrap"
} )[ 0 ].div.text.strip()
total_cases

'446,703'

In [8]:
total_deaths = page.findAll( "div", {
    "id": "maincounter-wrap"
} )[ 1 ].div.text.strip()
total_deaths

'19,805'

In [9]:
total_recovered = page.findAll( "div", {
    "id": "maincounter-wrap"
} )[ 2 ].div.text.strip()
total_recovered

'112,050'

In [10]:
table_heading = [ item.text.strip() for item in table.thead.tr if item != "\n" ]

In [11]:
table_content = []
for rows in table.tbody:
    data = [ item.text.strip() for item in rows if item != "\n" ]
    if data:
        table_content.append( data[ : -2 ] )

In [12]:
len(table_content)

197

In [13]:
table_content.insert( 0, table_heading[ : -2 ] )

In [14]:
table = AsciiTable(table_content)
print( table.table )

+------------------------+------------+----------+-------------+-----------+----------------+-------------+------------------+
| Country,Other          | TotalCases | NewCases | TotalDeaths | NewDeaths | TotalRecovered | ActiveCases | Serious,Critical |
+------------------------+------------+----------+-------------+-----------+----------------+-------------+------------------+
| China                  | 81,218     | +47      | 3,281       | +4        | 73,650         | 4,287       | 1,399            |
| Italy                  | 69,176     |          | 6,820       |           | 8,326          | 54,030      | 3,393            |
| USA                    | 60,642     | +5,786   | 817         | +37       | 379            | 59,446      | 1,307            |
| Spain                  | 47,610     | +5,552   | 3,434       | +443      | 5,367          | 38,809      | 2,636            |
| Germany                | 35,740     | +2,749   | 186         | +27       | 3,540          | 32,014      | 23               |
| Iran                   | 27,017     | +2,206   | 2,077       | +143      | 9,625          | 15,315      |                  |
| France                 | 22,304     |          | 1,100       |           | 3,281          | 17,923      | 2,516            |
| Switzerland            | 10,537     | +660     | 149         | +27       | 131            | 10,257      | 141              |
| S. Korea               | 9,137      | +100     | 126         | +6        | 3,730          | 5,281       | 59               |
| UK                     | 8,227      | +150     | 433         | +11       | 135            | 7,659       | 20               |
| Netherlands            | 6,412      | +852     | 356         | +80       | 3              | 6,053       | 582              |
| Austria                | 5,588      | +305     | 30          | +2        | 9              | 5,549       | 28               |
| Belgium                | 4,937      | +668     | 178         | +56       | 547            | 4,212       | 474              |
| Norway                 | 3,034      | +168     | 14          | +2        | 6              | 3,014       | 57               |
| Portugal               | 2,995      | +633     | 43          | +10       | 22             | 2,930       | 61               |
| Canada                 | 2,923      | +131     | 28          | +2        | 185            | 2,710       | 1                |
| Sweden                 | 2,526      | +227     | 44          | +4        | 16             | 2,466       | 158              |
| Australia              | 2,431      | +114     | 9           | +1        | 118            | 2,304       | 11               |
| Brazil                 | 2,274      | +27      | 47          | +1        | 2              | 2,225       | 18               |
| Israel                 | 2,170      | +240     | 5           | +2        | 58             | 2,107       | 37               |
| Turkey                 | 1,874      | +2       | 44          |           |                | 1,830       |                  |
| Malaysia               | 1,796      | +172     | 20          | +4        | 199            | 1,577       | 64               |
| Denmark                | 1,715      | +124     | 34          | +2        | 1              | 1,680       | 69               |
| Czechia                | 1,497      | +103     | 5           | +2        | 10             | 1,482       | 19               |
| Luxembourg             | 1,333      | +234     | 8           |           | 6              | 1,319       | 3                |
| Ireland                | 1,329      |          | 7           |           | 5              | 1,317       | 29               |
| Japan                  | 1,193      |          | 43          |           | 285            | 865         | 54               |
| Ecuador                | 1,173      | +91      | 28          | +1        | 3              | 1,142       | 2                |
| Chile                  | 1,142      | +220     | 3           | +1        | 22             | 1,117       | 7                |
| Pakistan               | 1,022      | +50      | 8           | +1        | 21             | 993         | 5                |
| Poland                 | 957        | +56      | 13          | +3        | 2              | 942         | 3                |
| Thailand               | 934        | +107     | 4           |           | 70             | 860         | 11               |
| Romania                | 906        | +112     | 14          | +2        | 86             | 806         | 18               |
| Saudi Arabia           | 900        | +133     | 2           | +1        | 29             | 869         |                  |
| Finland                | 880        | +88      | 3           | +2        | 10             | 867         | 22               |
| Greece                 | 821        | +78      | 22          | +2        | 36             | 763         | 53               |
| Indonesia              | 790        | +104     | 58          | +3        | 31             | 701         |                  |
| Iceland                | 737        | +89      | 2           |           | 56             | 679         | 11               |
| Diamond Princess       | 712        |          | 10          |           | 587            | 115         | 15               |
| South Africa           | 709        | +155     |             |           | 12             | 697         | 2                |
| Russia                 | 658        | +163     | 1           |           | 29             | 628         | 8                |
| Philippines            | 636        | +84      | 38          | +3        | 26             | 572         | 1                |
| Singapore              | 631        | +73      | 2           |           | 160            | 469         | 17               |
| India                  | 606        | +70      | 10          |           | 42             | 554         |                  |
| Slovenia               | 528        | +48      | 5           | +1        | 10             | 513         | 14               |
| Qatar                  | 526        |          |             |           | 41             | 485         | 6                |
| Panama                 | 443        |          | 8           | +2        | 1              | 434         | 33               |
| Egypt                  | 442        | +40      | 21          | +1        | 93             | 328         |                  |
| Croatia                | 442        | +60      | 1           |           | 22             | 419         | 6                |
| Bahrain                | 419        | +27      | 3           |           | 177            | 239         | 2                |
| Peru                   | 416        |          | 7           |           | 1              | 408         | 9                |
| Hong Kong              | 410        | +23      | 4           |           | 102            | 304         | 4                |
| Mexico                 | 405        | +38      | 5           | +1        | 4              | 396         | 1                |
| Estonia                | 404        | +35      | 1           | +1        | 8              | 395         | 5                |
| Dominican Republic     | 392        | +80      | 10          | +4        | 3              | 379         |                  |
| Argentina              | 387        |          | 8           | +2        | 52             | 327         |                  |
| Serbia                 | 384        | +81      | 4           | +1        | 15             | 365         | 21               |
| Colombia               | 378        |          | 3           |           | 6              | 369         |                  |
| Iraq                   | 346        | +30      | 29          | +2        | 103            | 214         |                  |
| Lebanon                | 333        | +15      | 4           |           | 8              | 321         | 4                |
| UAE                    | 333        | +85      | 2           |           | 52             | 279         | 2                |
| Algeria                | 302        | +38      | 21          | +2        | 65             | 216         |                  |
| Armenia                | 265        | +16      |             |           | 16             | 249         | 6                |
| Lithuania              | 255        | +46      | 4           | +2        | 1              | 250         | 1                |
| Bulgaria               | 242        | +24      | 3           |           | 4              | 235         | 8                |
| Taiwan                 | 235        | +19      | 2           |           | 29             | 204         |                  |
| Hungary                | 226        | +39      | 10          | +1        | 21             | 195         | 6                |
| Latvia                 | 221        | +24      |             |           | 1              | 220         |                  |
| Slovakia               | 216        | +12      |             |           | 7              | 209         | 2                |
| New Zealand            | 205        |          |             |           | 22             | 183         |                  |
| Kuwait                 | 195        | +4       |             |           | 43             | 152         | 6                |
| Uruguay                | 189        |          |             |           |                | 189         | 3                |
| Andorra                | 188        | +24      | 1           |           | 1              | 186         | 6                |
| San Marino             | 187        |          | 21          |           | 4              | 162         | 12               |
| North Macedonia        | 177        | +29      | 3           | +1        | 1              | 173         | 1                |
| Costa Rica             | 177        |          | 2           |           | 2              | 173         | 4                |
| Tunisia                | 173        | +59      | 5           | +1        | 2              | 166         | 11               |
| Morocco                | 170        |          | 5           |           | 6              | 159         | 1                |
| Bosnia and Herzegovina | 168        |          | 3           |           | 2              | 163         | 1                |
| Jordan                 | 154        |          |             |           | 1              | 153         |                  |
| Moldova                | 149        | +24      | 1           |           | 2              | 146         | 20               |
| Albania                | 146        | +23      | 5           |           | 17             | 124         | 3                |
| Vietnam                | 141        | +7       |             |           | 17             | 124         | 3                |
| Cyprus                 | 132        | +8       | 3           |           | 3              | 126         | 3                |
| Faeroe Islands         | 132        | +10      |             |           | 38             | 94          | 2                |
| Malta                  | 129        | +19      |             |           | 2              | 127         | 1                |
| Ukraine                | 116        | +14      | 4           | +1        | 1              | 111         |                  |
| Burkina Faso           | 114        |          | 4           |           | 7              | 103         |                  |
| Réunion                | 111        | +17      |             |           | 1              | 110         |                  |
| Brunei                 | 109        | +5       |             |           | 2              | 107         | 1                |
| Sri Lanka              | 102        |          |             |           | 3              | 99          | 2                |
| Oman                   | 99         | +15      |             |           | 17             | 82          |                  |
| Senegal                | 99         | +13      |             |           | 9              | 90          |                  |
| Cambodia               | 96         | +5       |             |           | 10             | 86          | 1                |
| Azerbaijan             | 93         | +6       | 2           | +1        | 10             | 81          | 6                |
| Venezuela              | 91         | +7       |             |           | 15             | 76          | 2                |
| Belarus                | 86         | +5       |             |           | 29             | 57          | 2                |
| Afghanistan            | 84         | +10      | 2           | +1        | 2              | 80          |                  |
| Kazakhstan             | 80         | +8       |             |           |                | 80          |                  |
| Guadeloupe             | 73         |          | 1           |           |                | 72          | 4                |
| Georgia                | 73         | +3       |             |           | 10             | 63          | 1                |
| Ivory Coast            | 73         |          |             |           | 2              | 71          |                  |
| Cameroon               | 70         | +4       | 1           |           | 2              | 67          |                  |
| Ghana                  | 68         | +15      | 3           | +1        |                | 65          |                  |
| Palestine              | 64         | +4       | 1           | +1        | 16             | 47          |                  |
| Trinidad and Tobago    | 60         | +3       |             |           |                | 60          |                  |
| Cuba                   | 57         | +9       | 1           |           | 1              | 55          | 2                |
| Martinique             | 57         |          | 1           |           |                | 56          | 7                |
| Uzbekistan             | 56         | +6       |             |           |                | 56          | 4                |
| Montenegro             | 52         | +5       | 1           |           |                | 51          |                  |
| Liechtenstein          | 51         |          |             |           |                | 51          |                  |
| DRC                    | 48         | +3       | 2           |           |                | 46          |                  |
| Mauritius              | 48         | +6       | 2           |           |                | 46          | 1                |
| Nigeria                | 46         | +2       | 1           |           | 2              | 43          |                  |
| Kyrgyzstan             | 44         | +2       |             |           |                | 44          |                  |
| Rwanda                 | 40         |          |             |           |                | 40          |                  |
| Bangladesh             | 39         |          | 5           | +1        | 7              | 27          |                  |
| Channel Islands        | 39         | +3       |             |           |                | 39          |                  |
| Paraguay               | 37         | +10      | 3           | +1        |                | 34          | 1                |
| Honduras               | 36         | +6       |             |           |                | 36          |                  |
| Mayotte                | 36         |          |             |           |                | 36          |                  |
| Bolivia                | 32         | +3       |             |           |                | 32          |                  |
| Macao                  | 30         | +1       |             |           | 10             | 20          |                  |
| Kenya                  | 28         | +3       |             |           | 1              | 27          |                  |
| Monaco                 | 27         | +4       |             |           | 1              | 26          |                  |
| Gibraltar              | 26         | +11      |             |           | 5              | 21          |                  |
| Jamaica                | 25         | +4       | 1           |           | 2              | 22          |                  |
| French Polynesia       | 25         |          |             |           |                | 25          |                  |
| French Guiana          | 23         |          |             |           | 6              | 17          |                  |
| Isle of Man            | 23         |          |             |           |                | 23          |                  |
| Togo                   | 23         | +3       |             |           | 1              | 22          |                  |
| Guatemala              | 21         |          | 1           |           |                | 20          |                  |
| Madagascar             | 19         | +2       |             |           |                | 19          |                  |
| Barbados               | 18         |          |             |           |                | 18          |                  |
| Aruba                  | 17         |          |             |           | 1              | 16          |                  |
| New Caledonia          | 14         | +4       |             |           |                | 14          |                  |
| Uganda                 | 14         | +5       |             |           |                | 14          |                  |
| Maldives               | 13         |          |             |           | 8              | 5           |                  |
| Ethiopia               | 12         |          |             |           |                | 12          |                  |
| Tanzania               | 12         |          |             |           |                | 12          |                  |
| Zambia                 | 12         | +9       |             |           |                | 12          |                  |
| Djibouti               | 11         | +8       |             |           |                | 11          |                  |
| Mongolia               | 10         |          |             |           |                | 10          |                  |
| El Salvador            | 9          | +4       |             |           |                | 9           |                  |
| Equatorial Guinea      | 9          |          |             |           |                | 9           |                  |
| Saint Martin           | 8          |          |             |           |                | 8           |                  |
| Suriname               | 8          | +1       |             |           |                | 8           |                  |
| Niger                  | 7          | +4       | 1           | +1        |                | 6           |                  |
| Dominica               | 7          |          |             |           |                | 7           |                  |
| Haiti                  | 7          |          |             |           |                | 7           |                  |
| Namibia                | 7          |          |             |           | 2              | 5           |                  |
| Seychelles             | 7          |          |             |           |                | 7           |                  |
| Cayman Islands         | 6          |          | 1           |           |                | 5           |                  |
| Curaçao                | 6          |          | 1           |           |                | 5           |                  |

In [15]:
import sys

In [16]:
INDIA_URL = "https://www.mohfw.gov.in/"

In [17]:
try:
    resp = requests.get( INDIA_URL, timeout = MAX_TIMEOUT )
    page = soup( resp.text, 'lxml' ) 
except:
    resp = _loadDataByIPRotaion( INDIA_URL )
    page = soup( resp.text, 'lxml' )

In [31]:
table = page.findAll( "div",{
   "class": "table-responsive" 
} )[ 7 ]

In [43]:
total_cases = int( page.findAll( "div",{
   "class": "table-responsive" 
} )[ 7 ].tbody.findAll( "tr" )[ -1 : ][ 0 ].findAll( "td" )[ 1 ].text.strip() )

total_cases += int( page.findAll( "div",{
   "class": "table-responsive" 
} )[ 7 ].tbody.findAll( "tr" )[ -1 : ][ 0 ].findAll( "td" )[ 2 ].text.strip() )

total_cases

606

In [19]:
table_heading = [ item.text.strip() for item in table.thead.tr if item != "\n" ]

In [20]:
table_heading

['S. No.',
 'Name of State / UT',
 'Total Confirmed cases (Indian National)',
 'Total Confirmed cases ( Foreign National )',
 'Cured/Discharged/Migrated',
 'Death']

In [21]:
table_content = []
for rows in table.tbody:
    data = [ item.text.strip() for item in rows if item != "\n" ]
    if data:
        table_content.append( data[ : -2 ] )

In [22]:
table_content.insert( 0, table_heading[ : -2 ] )

In [23]:
table = AsciiTable(table_content)
print( table.table )

+------------------------------------------+--------------------+-----------------------------------------+--------------------------------------------+
| S. No.                                   | Name of State / UT | Total Confirmed cases (Indian National) | Total Confirmed cases ( Foreign National ) |
+------------------------------------------+--------------------+-----------------------------------------+--------------------------------------------+
| 1                                        | Andhra Pradesh     | 9                                       | 0                                          |
| 2                                        | Bihar              | 4                                       | 0                                          |
| 3                                        | Chhattisgarh       | 1                                       | 0                                          |
| 4                                        | Delhi              | 30                                      | 1                                          |
| 5                                        | Gujarat            | 37                                      | 1                                          |
| 6                                        | Haryana            | 14                                      | 14                                         |
| 7                                        | Himachal Pradesh   | 3                                       | 0                                          |
| 8                                        | Karnataka          | 41                                      | 0                                          |
| 9                                        | Kerala             | 101                                     | 8                                          |
| 10                                       | Madhya Pradesh     | 14                                      | 0                                          |
| 11                                       | Maharashtra        | 125                                     | 3                                          |
| 12                                       | Manipur            | 1                                       | 0                                          |
| 13                                       | Mizoram            | 1                                       | 0                                          |
| 14                                       | Odisha             | 2                                       | 0                                          |
| 15                                       | Puducherry         | 1                                       | 0                                          |
| 16                                       | Punjab             | 29                                      | 0                                          |
| 17                                       | Rajasthan          | 34                                      | 2                                          |
| 18                                       | Tamil Nadu         | 16                                      | 2                                          |
| 19                                       | Telengana          | 25                                      | 10                                         |
| 20                                       | Chandigarh         | 7                                       | 0                                          |
| 21                                       | Jammu and Kashmir  | 7                                       | 0                                          |
| 22                                       | Ladakh             | 13                                      | 0                                          |
| 23                                       | Uttar Pradesh      | 36                                      | 1                                          |
| 24                                       | Uttarakhand        | 3                                       | 1                                          |
| 25                                       | West Bengal        | 9                                       | 0                                          |
| Total number of confirmed cases in India | 563                | 43                                      |                                            |
+------------------------------------------+--------------------+-----------------------------------------+--------------------------------------------+

In [44]:
import scipy